
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* index.html */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: wheat;
	position: relative;
	padding-bottom: 162px;
	min-height: 100vh;
	
	
}

.navbar {
	padding: 20px;
	background-color: lightgoldenrodyellow ;
}

.item {
	margin-left: auto;
}

.container {
	width: 90vw;
	margin: 0 auto;
	padding: 30px 20px;
}

.article {
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 5px;
	min-height: 100vh;
}

i {
	margin: 1em;
}


footer {
	text-align: center;
	background-color: lightgoldenrodyellow;
	color: black;
	padding: 1px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/* portfolio.html */

.card-body {
	background-color: whitesmoke;
}

#picture {
	height: 184px;
}

h5 {
    text-align: center;
}


/* Contact.html */
input[type=text], select {
	width: 600px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #777777;
	border-radius: 4px;
	padding: 6px 12px;
	box-sizing: border-box;
	color: #777777;
}

textarea[type=textarea], select {
	width: 600px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #777777;
	border-radius: 4px;
	padding: 6px 12px;
	min-height: 100px;
	box-sizing: border-box;
	color: #777777;
}

input[type=submit] {
	margin-top: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 12px 48px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	text-align: middle;
}


